[Unit]
Description=Run Btrfs backup weekly
Requires=btrfs-backup.service

[Timer]
OnCalendar=weekly
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target