[Unit]
Description=Btrfs to ZFS Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=ben
ExecStart=/usr/local/bin/simple-btrfs-backup.sh
StandardOutput=journal
StandardError=journal